/*Generale*/
:root {
    --rojo: #E50914;
    --blanco: #ffffff;
    --negro: #000000;
    --grisOscuro: #292727;
    --fuentePB: font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;


    --fuenteNetflix: font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    width: 100%;
}

.contenedor {
    max-width: 90%;
    margin: 0 auto;
}

.background {
    background-image: url(../img/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70rem;
}

/*Header*/

.header {
    font-family: "Oswald", sans-serif;
}

.barra{
    display: flex;
    flex-basis: 100%;
    align-items: center;
}

.logo {
    flex: 1;
}

.logo__imagen {
    display: block;
    margin: 0 auto;
    width: 10rem;
}

.navegacion {
    display: flex;
}

.navegacion__enlace {
    color: var(--blanco);
    text-decoration: none;
}

.formulario__campo {
    background-color: transparent;
    border: 1px solid var(--blanco);
    padding: .5rem;
}

.navegacion {
    justify-content: center;
    gap: 2rem;
    flex: 3;
}



.formulario {
    flex: 1;
}

.formulario__campo {
    display: block;
    margin: 0 auto;
    width: 80%;
}



/*Contenido Principal*/
.informacion__imagen {
    width: 2rem;
}

@media (max-width: 768px ) {
   .barra{
    flex-direction: column;
   }

   .navegacion{
    margin-bottom: 3rem;
   }

   .formulario__campo{
    width: 100%;
   }
}