/*Generale*/
:root {
    --rojo: #E50914;
    --blanco: #ffffff;
    --negro: #000000;
    --grisOscuro: #292727;
    --fuentePB: font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;


    --fuenteNetflix: font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    width: 100%;
}

h1{
    margin: 0;
}

.contenedor {
    max-width: 90%;
    margin: 0 auto;
}

.background {
    background-image: url(../img/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh; 
    width: 100%;
    background-position: center center;
}

/*Header*/

.header {
    font-family: "Oswald", sans-serif;
}

.barra {
    display: flex;
    flex-basis: 100%;
    align-items:center;
}

.logo {
    flex: 2;
}

.logo__imagen {

    width: 10rem;
}

.navegacion {
    display: flex;
}

.navegacion__enlace {
    color: var(--blanco);
    text-decoration: none;
}

.navegacion {
    justify-content: flex-start;
    gap: 3rem;
    flex: 3;
}

.formulario {
    display: flex;
    align-items: center;
    flex: 2;
}

.formulario__icono{
    margin-right: -8rem;
}

.formulario__campo {
    display: block;
    margin: 0 auto;
    width: 85%;
    background-color: transparent;
    color: var(--blanco);
    border: 1px solid var(--blanco);
    padding: .5rem;
}

.formulario__campo::placeholder{
    padding-left: 2rem;
    color: var(--blanco);
}

@media (max-width:468px) {
    .barra {
        flex-direction: column;
        
    }

    .navegacion {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }


}

@media (max-width: 768px) {
    .barra {
        flex-direction: column;
        
    }

    .navegacion {
        margin-bottom: 3rem;
    }

    .formulario {
        width: 100%;
    }
}

/*Contenido Principal*/

.descripcion {
    font-family: "Oswald", sans-serif;
    color: var(--blanco);
    margin-top: 5rem;
    margin-left: 3rem;
}

.multimedia{
    display: flex;
}

.multimedia__imagen {
    width: 4rem;
}

.serie{
    text-transform: uppercase;
    font-size: 3.5rem;
    margin: 2rem 0;
    margin-top: -1rem;
}

.informacion{
    display: flex;
    gap: 1.5rem;
    margin-top: -2rem;
}
.informacion__texto{
    opacity: 80%;
}

.informacion__texto--edad{
    opacity: 100%;
    background-color: #E50914;
    padding: 0 1rem;
    text-align: center;
}



@media (min-width: 768px) {
   .descripcion{
    margin-top: 17rem;
    margin-left: 5rem;
   }

   .serie{
    font-size: 4rem;
    margin-left: .5rem;
   }

   .informacion{
    margin-left: .8rem;
   }

   .sinopsis{
    width: 45%;
   }
}

/*Botones*/
.accion__boton{
    width: 9rem;
    text-transform: uppercase;
    color: var(--blanco);
    border: none;
    padding: .5rem;
}

.accion__boton--primario{
    background-color: #E50914;
   
}

.accion__boton--secundario{
    background-color: var(--negro);
    
}

.reproducir{
    margin-top: 2rem;

}
    
.reproducir__enlace{
    display: flex;
    gap: 1rem;
    align-items: center;
    text-transform: uppercase;
    color: var(--blanco);
    font-size: 2rem;
    font-weight: 200;
    text-decoration: none;
}

